@using Haondt.Web.Core.Extensions
@model Haondt.Web.BulmaCSS.Components.DefaultLayoutModel


<div id="navigation">
    @await Html.PartialAsync(Model.NavigationBar)
</div>
<div id="toast-container"></div>
<div id="content">
    @await Html.PartialAsync(Model.Content)
</div>


