@model Haondt.Web.BulmaCSS.Components.NavigationBarModel

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        @if(Model.LogoClickUri.HasValue)
        {
            <a class="navbar-item" href="@Model.LogoClickUri.Value">
            @if (Model.LogoUri.HasValue)
            {
                <img src="@Model.LogoUri.Value" style="height:25px;"/>
            }
            </a>
        }
        else
        {
            @if (Model.LogoUri.HasValue)
            {
                <div class="navbar-item">
                    <img src="@Model.LogoUri.Value" style="height:25px;"/>
                </div>
            }
        }
         <a role="button" class="navbar-burger" 
            _="on click toggle .is-active on me"
            aria-label="menu" aria-expanded="false" 
            data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
    </div>
</nav>
