@model Haondt.Web.Demo.Components.HomeModel

<h1 class="title">Hello From Home Page!</h1>
<p class="subtitle">I am now using <strong>Bulma</strong>!</p>
<button class="button" hx-post="_event/Toast">Click me!</button>

<title hx-swap-oob="outerHTML;title">Demo Site</title>
